# -----------------------------
# Python
# -----------------------------
**/__pycache__/
*.py[cod]
*$py.class
*.pyc

# Virtual environments
venv/
.env/
.env
# -----------------------------
# Environment / Secrets
# -----------------------------
client_secret.json
token.json
*.env

# -----------------------------
# Database
# -----------------------------
*.db
*.sqlite
*.sqlite3

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Generated media
# -----------------------------
storage/memes/*
storage/outputs/*

# keep folder structure
!storage/memes/.gitkeep
!storage/outputs/.gitkeep

# -----------------------------
# OS files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# IDE
# -----------------------------
.vscode/
.idea/

# -----------------------------
# Temporary files
# -----------------------------
*.tmp
*.temp
*.swp
*.bak